<%= form_with(model: genres_song, local: true) do |form| %>
  <% if genres_song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(genres_song.errors.count, "error") %> prohibited this genres_song from being saved:</h2>

      <ul>
      <% genres_song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :genre_id %>
    <%= form.text_field :genre_id %>
  </div>

  <div class="field">
    <%= form.label :song_id %>
    <%= form.text_field :song_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
