<p id="notice"><%= notice %></p>

<h1>Genres Songs</h1>

<table>
  <thead>
    <tr>
      <th>Genre</th>
      <th>Song</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @genres_songs.each do |genres_song| %>
      <tr>
        <td><%= genres_song.genre %></td>
        <td><%= genres_song.song %></td>
        <td><%= link_to 'Show', genres_song %></td>
        <td><%= link_to 'Edit', edit_genres_song_path(genres_song) %></td>
        <td><%= link_to 'Destroy', genres_song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Genres Song', new_genres_song_path %>
