<%= form_with scope: :song, url: songs_path, local: true do |form| %>

    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>
  
    <p>
      <%= form.label :description %><br>
      <%= form.text_area :description %>
    </p>
  
  
      <p>
  
        <%= form.collection_check_boxes :genre_ids, @genres, :id, :name %>
      </p>
  
  
    <p>
      <%= form.submit %>
    </p>
  <% end %>