<%= form_with scope: :song, url: songs_path, local: true do |form| %>

    <p>
        <%= form.label :title %><br>
        <%= form.text_area :title %>
    </p>

    <p class="error">
        <%= show_errors(@song, :title) %>
    </p>

    <p>
        <%= form.label :genre%><br>
        <%= form.collection_select :genre_id, @genre, :id, :name %>
    </p>

    <p>
        <%= form.submit %>
    </p>
<% end %>