<h1><%= @song.name %></h1>

<h3>List of genres</h3>
<ul>
  <% @genres.each do |genre| %>
    <li><%= link_to genre.name, genre_path(genre.id) %></li>
  <% end %>
</ul>


<h3><%= link_to 'Edit', edit_song_path(@song.id) %></h3>
<h3><%= link_to 'Delete', song_path(@song.id), method: :delete, data: { confirm: "Are You Sure?" } %></h3>
<h3><%= link_to 'Back', root_path %></h3>
