<h1>EDIT SONG</h1>

<%= form_with(model: @song, local: true) do |form| %>
  <p>
    <%= form.label :Name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :Artist %><br>
    <%= form.text_field :artist %>
  </p>

  <p>
    <%= form.label :Genres %><br>
    <%= f.collection_check_boxes :genres_ids, @genres, :id, :name %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>


<%= link_to 'Back', songs_path %>