<div class="container">
	<% p = @player %>
	<h1><%= p.name %></h1>
	<h3><%= p.team %></h3>
	<table class="table table-dark">
		<thead>
			<tr>
				<th>Name</th>
				<th>Team</th>
				<th>Age</th>
				<th>PPG</th>
				<th>RPG</th>
				<th>APG</th>
				<th>BPG</th>
			</tr>
		</thead>
		<tbody>
				<tr>
					<td><img class="photo" src="<%= p.img %>"/></td>
					<td><img class="logo" src="<%= p.team_img %>"/></td>
					<td><%= @yr - p.b_year %></td>
					<td><%= p.ppg %></td>
					<td><%= p.rpg %></td>
					<td><%= p.apg %></td>
					<td><%= p.bpg %></td>
					<td><%= link_to 'Edit', edit_player_path(p), class: "btn btn-danger" %></td>
				</tr>
		</tbody>
	</table>
	<button class="back btn btn-danger">Go Back</button>
</div>