<h1>Edit Items information</h1>

<%= form_with model: @item, local: true do |form| %>

    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>

    <p>
      <%= form.label :description %><br>
      <%= form.text_field :description %>
    </p>
  
    <p>
    <%= form.submit %>
    </p>
      
<% end %>