<h1>EDIT GENRE</h1>

<%= form_with(model: @genre, local: true) do |form| %>
  <p>
    <%= form.label :Name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :Songs %><br>
    <%= f.collection_check_boxes :songs_ids, @songs, :id, :name %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>


<%= link_to 'Back', genres_path %>