<h1>Edit Player</h1>

<%= form_with(model: @player, local: true) do |form| %>

 

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= link_to 'Back to Job Index', jobs_path %>